

@media (width <=768px) {
    .nombre_cumple {
        width: 80vw;
    }

    .imagen-lateral {
        display: none;
    }


}

@media(width >=768px) {

    .nav__open,
    .nav__close {
        display: none;
    }

    .nav__items {
        position: unset;
        display: flex;
        flex-direction: unset;
        justify-content: start;
        text-align: unset;
        background-color: unset;
        padding: unset;
        width: unset;
        height: unset;
        transform: unset;
        right: unset;
        top: unset;
        transition: unset;
        border-radius: unset;
        z-index: unset;
    }

    .nav__link {
        font-family: var(--font-roboto);
        font-weight: 900;
        font-size: 1.5rem;
        color: #ffffff;
        padding-right: 1em;
        text-shadow:
            0 0 5px #014153,
            0 0 10px #014153,
            0 0 20px #014153,
            0 0 40px #014153 0 0 60px #014153;
        transition: color 0.3s ease;
    }

    .nav__link:hover {
        color: #01f0f3;
    }


    .controles {
        position: absolute;
        width: 60%;
        height: 100%;
        display: flex;
        justify-content: space-around;
        /* Para alinear los controles a la derecha */
        align-items: center;
        right: 10%;
    }

    .controles__img {
        display: flex;
        width: 36px;
        cursor: pointer;
    }

    .itinerario__name {
        font-family: var(--font-roboto);
        margin: 0;
        font-size: 1rem;
        color: var(--titulo-itinerario);
    }*/

    header {
        width: 100%;
        min-height: 600px;
        position: relative;
        background-image: linear-gradient(to top, rgba(255, 225, 0, 0), rgba(255, 187, 0, 0)), url(godzilla1.jpg);
        background-position: center;
        background-size: cover;
        overflow-x: hidden;
}

    

}

@media (max-width: 350px) {
  .timer {
    flex-wrap: nowrap;
    gap: 2px; /* para que no se superpongan */
  }

  .timer-item {
    margin: 0 2px; /* menos margen lateral */
  }

  .timer-value {
    width: 35px; /* más pequeño para que entren todos */
    font-size: 1.2rem;
    padding: 6px;
  }

  .timer-label {
    font-size: 0.8rem;
  }
}

